<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let patient of patients">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" [src]="patient.imageUrl" alt="" height="300px"></a>
      <div class="card-body">
        <h4 class="card-title">
          <h3>{{patient.firstName}} {{patient.lastName}}</h3>
        </h4>
        <h5>{{patient.age}}</h5>
        <p class="card-text text-truncate">{{patient.symptoms}}</p>
      </div>
      <!-- <div class="card-footer">
        <small class="text-muted">★ ★ ★ ★ ☆</small>
      </div> -->
    </div>
  </div>
</div>