<!--
   <div class="container">
     <div>
       User Name : <input type="text" name="username" [(ngModel)]="username">
       Password : <input type="password" name="password" [(ngModel)]="password">
     </div>
     <button (click)=checkLogin() class="btn btn-success">
       Login
     </button>
   </div>
   </div>-->
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hospital Management System</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <base href="/">
      <style type="text/css">
         body{
               background-image: url(https://wallpaperplay.com/walls/full/9/5/e/13971.jpg);
               height: 1080px;
               width: 1590px;
         }
         .mat-radio-button {
            margin-left: 16px;
         }
      </style>
   </head>
   <body>
      <div class="wrapper">
         <div class="content">
            <div class="container" style="margin-top: 5%;">
               <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4" style="border-radius: 10px; border-color: lightseagreen;
                  background-color: lightskyblue; padding: 20px; opacity: 0.9;">
                     <h1 class="text-center" style="color:lavenderblush;">Register page</h1>
                     <br/>
                     <div class="col-sm-12">
                        <ul class="nav nav-pills">
                           <li class="" style="width:50%"><a class="btn btn-lg btn-default" data-toggle="tab" href="#home">Doctor</a></li>
                           <li class="" style="width:48%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#menu">Patient</a></li>
                        </ul>
                        <br/>
                        <div class="tab-content" id="tabcontent">
                           <div id="home" class="tab-pane fade">
                              <form action="#">
                                <div>
                                 <div class="form-group">
                                    <input type="text" placeholder="First-name" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 150px; height: 15px;" id="doctorfirstname">
                                    <input type="text" placeholder="Last-name" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 150px; height: 15px;" id="doctorlastname">
                                 </div>
                                 <div class="form-group">
                                    <input type="number" placeholder="Age" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctorage">
                                   </div>
                                   <div class="form-group">
                                      <p style="opacity: 0.95;  background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control">Gender
                                      <input type="radio" id="doctormale" name="gender" value="male">
                                      <label for="male">Male</label>
                                      <input type="radio" id="doctorfemale" name="gender" value="female" >
                                      <label for="female">Female</label><br>
                                      </p>
                                   </div>
                                   <div class="form-group">
                                    <input type="number" placeholder="Mobile-number" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctornumber">
                                   </div>
                                   <div class="form-group">
                                      <input type="email" placeholder="Email-address" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctoremail">
                                   </div>
                                   <div class="form-group">
                                    <input type="text" placeholder="Specialization" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctorspecialization">
                                   </div>
                                   <div class="form-group">
                                      <input type="text" placeholder="Image" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctorimage">
                                   </div>
                                   <div class="form-group">
                                    <input type="password" placeholder="Password" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctorpassword">
                                   </div>
                                   <div class="form-group">
                                      <input type="password" placeholder="Confirm Password" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="doctorconfirmpassword">
                                   </div>
                                 <div><button type="submit" class="btn btn-block btn-danger" >Submit</button></div>
                                 <br />
                                 <div><button type="submit" class="pull-right btn-link"><a href="https://www.google.com" style="color: white;" target="_blank">Forget password</a></button></div>
                                 <br />
                                </div>
                              </form>
                            <br/>
                            <a href="#" class="pull-right btn btn-block btn-success">Already Registered ?</a>
                           </div>
                           <div id="menu" class="tab-pane fade">
                              <form action="#">
                                 <div class="form-group">
                                    <!--User Name : <input type="text" name="username" [(ngModel)]="username"> -->
                                  <input type="text" placeholder="First-name" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 150px; height: 15px;" id="patientfirstname">
                                  <input type="text" placeholder="Last-name" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 150px; height: 15px;" id="patientlastname">
                                 </div>
                                 <div class="form-group">
                                  <input type="number" placeholder="Age" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientage">
                                 </div>
                                 <div class="form-group">
                                    <p style="opacity: 0.95;  background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control">Gender
                                    <input type="radio" id="patientmale" name="gender" value="male">
                                    <label for="male">Male</label>
                                    <input type="radio" id="patientfemale" name="gender" value="female" >
                                    <label for="female">Female</label><br>
                                    </p>
                                 </div>
                                 <div class="form-group">
                                  <input type="number" placeholder="Mobile-number" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientnumber">
                                 </div>
                                 <div class="form-group">
                                    <input type="email" placeholder="Email-address" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientemail">
                                 </div>
                                 <div class="form-group">
                                  <input type="text" placeholder="Symptoms" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientsymptoms">
                                 </div>
                                 <div class="form-group">
                                    <input type="text" placeholder="Image" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientimage">
                                 </div>
                                 <div class="form-group">
                                  <input type="password" placeholder="Password" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientpassword">
                                 </div>
                                 <div class="form-group">
                                    <input type="password" placeholder="Confirm Password" style="opacity: 0.95; background:white; border-radius: 25px; padding: 20px; width: 320px; height: 15px;" class="form-control" id="patientconfirmpassword">
                                 </div>                                
                                 <div><button type="submit" class="btn btn-default btn-block btn-danger">Submit</button></div>
                                 <br />
                                 <button type="submit" class="pull-right btn-link"><a href="https://www.google.com" style="color: white;" target="_blank">Forget password</a></button>
                                 <br />
                              </form>
                              <br/>
                              <a href="#" class="pull-right btn btn-block btn-success">Already Registered ?</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>